<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <title>Pizza</title>
    </head>

    <body>
        <section>
            <div>
                <% pizza.forEach( (p) => { %>
                    <input type="submit" class="detail" id="<%= p._id %>" value="<%= p.name %>">
                <% }); %>
            </div>
            <div id="detailp"></div>
            <div>
                <input type="submit" id="count" value="count">
                <div id="countt"></div>
            </div>
        </section>   
        <script>
        count.addEventListener("click", (event) =>{
            axios.get("/count").then(response => {
                document.getElementById("countt").innerHTML = '<h3>'+response.data.count+'<h3>'
            })
        });

        let detail = document.getElementsByClassName("detail");
        for(let d of detail){
            d.addEventListener("click", (event) =>{
                document.getElementById("detailp").innerHTML = '<h3>Detail pizza</h3>'
                axios.get("/detail/"+d.getAttribute('id')).then(response => {
                    document.getElementById("detailp").innerHTML += '<p>La '+response.data.detail.name+' est une pizza de taille '+response.data.detail.size+' qui coute '+response.data.detail.price+' €<p>'       
                })
            })
        }
        </script>
    </body>
</html>