<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Import JSON</title>
    </head>

    <body>
        <section>
            
            <h2>Ajout a la dbb: </h2>

            <form action="/" method="post" enctype="multipart/form-data">
                <label for="titre">Nom Bdd :</label><br>
                <input type="text" id="titre" name="titre"> <br><br>
                <input type="file" id="json" name="upload"/><br><br>
                <input type="submit" value="Enregistrer">
            </form>

        </section>   
    </body>
</html>