<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Licornes</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <section>
        
        <h2>Licornes : </h2>
        <div class="ajout">
            <% resultat.forEach( (r)=> { %>
                <input type="submit" class="licorne" name="<%= r.name %>" value="<%= r.name %>">
                <div id="<%= r._id %>"></div>
            <% }); %>
        </div>
    </section>

    <script>
        let licorne = document.getElementsByClassName("licorne");
        for(let l of licorne){
            l.addEventListener("click", (event) =>{
                axios.get("/licorne/"+l.getAttribute('name')).then(response => {
                    document.getElementById(response.data._id).innerHTML = '<p> Poids : '+ response.data.weight + ' kg <br> Genre : '+ response.data.gender +'</p>'
                    })       
            })
        }
    </script>
    
</body>
</html>